@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
input {
  background: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 30px;
  font-size: large;
  border: 5px solid grey;
}
.kotak {
  width: 350px;
  height: 200px;
  border: 5px solid black;
  margin-top: 40px;
}
